// Colors
$color-primary: #eb0029;
$color-secondary: #FC791A;
$color-dark-grey: #B7B5B0;
$color-light-grey: #F4F1EA;
$color-black: #010F1C;
$color-white: #fff;

//grid
$row-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;